@using System.Security.Claims
<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
    <li class="nav-item">
        <span class="navbar-text text-dark me-2">
            @User.FindFirst(ClaimTypes.Email)?.Value
            @if (User.IsInRole(PropertyManager.Domain.Constants.Roles.Admin))
            {
                <span class="badge bg-secondary ms-1">Admin</span>
            }
        </span>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link nav-link text-dark">Sign out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Sign in</a>
    </li>
}
</ul>
